body {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #f9f9f9;
  overflow-x:hidden!important
}
h1, h2, h3, h4, h5, h6 {color: #777;}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
} 



p {font-family: verdana; font-size: 8pt;} 
  
 
 #archives {
		background-color: #eee;
		font-family: arial;
		font-size: 9pt;
		letter-spacing: 2pt;
		color: #777;
		padding: 5px;
		width: 40%;
}
#sidebar>*>.maintitle {
	background: #ffffff url('x') no-repeat left bottom; /*orig ffffff*/
	background-size: 100%;
	margin: 0px;
	padding: 10px;
	font-size: 9pt; 
	letter-spacing: 2pt; 
	color: #52ce64; 
	font-family: trebuchet ms; /*trebuchet ms 10pt */
	text-transform: uppercase;
	border-bottom: 2px solid #00c6ff;
	
} 
 .bottom {
		background: #fff url('x') no-repeat left bottom;
	background-size: 100%;
	height: 1px;
} 
 #sidebar>*>.content{margin-bottom:0px; background-color: #ffffff; color: #888;  }


*>.content>*>li {list-style-type: none; font-size: 8pt; border-bottom: 1px solid #ccc;  margin-left: -40px; padding: 10px; letter-spacing: 1pt;}
*>.content>*>li img {height: 30px; width: 30px;}
*>.content>*>li img#social {height:16px; width:16px;}
*>.content>*>li#first {list-style-type: none; background-color: #825ce5; margin-left: -40px; padding: 10px; letter-spacing: 1pt; border-bottom: 0px; margin-bottom: 3px; text-transform: uppercase; opacity: 1; transition: 0.4s; color: #fff;}
*>.content>*>li#first:hover {opacity: 1; transition: 0.4s; background-color: #612af0;}
*>.content>*>li#first img{border: 0px; height: 30px; width:30px;}
*>.content>*>li#first a{color: #fff; text-decoration: none; transition: 0.4s; font-size: 9pt;}
*>.content>*>li#first a:hover {color: #e1e9f3; transition: 0.4s;  font-size: 9pt;}
#li{list-style-type: none; border-bottom: 1px solid #fff; margin-left: -40px; }
ul#List1 {list-style-type: none; background-color: #transparent;}
ul#List1>li {color: #ccc; list-style-type:none; font-size: 8pt; letter-spacing: 1pt;} 

*>img#bio {transition: 0.4s; margin: 2px; opacity: 0.6; padding: 4px; background: #ffffff url('file:///D:/sites/neocities/andymineo/images/picbg.png') no-repeat right bottom;}
*>img#bio:hover {transition: 0.4s; opacity: 1;}
*>img#brother{margin: 2px; padding: 2px; background-color: #7dabdc; border: 2px solid #6199d3; opacity: 1; transition: 0.4s;} 
*>img#brother:hover {opacity: 1; transition: 0.4s;} 

*>img#latest {background: #ffffff url('file:///D:/sites/neocities/andymineo/images/picbg.png') no-repeat right bottom; height:80px; width: 80px; opacity: 0.5; padding: 5px; transition: 0.4s; margin: 2px;}
*>img#latest:hover{opacity: 1; transition: 0.4s;background: #ffffff url('images/picbghover1.png')} 


*>.content>*>li#navigation {list-style-type: none; background: #825ce5 url('file:///D:/sites/neocities/andymineo/images/navibg.jpg'); margin-left: -40px; padding: 10px; letter-spacing: 1pt; border-bottom: 0px; margin-bottom: 3px; opacity: 1; transition: 0.4s; color: #fff;}
*>.content>*>li#navigation a, *>.content>*>li#navigation1 a:hover{color: #fff; text-transform: uppercase; text-decoration:none; font-weight: bold; letter-spacing: 2pt;}
*>.content>*>li#navigation a:hover {color: #00c6ff; transition: 0.4s;}
 


/*FIRST ONE*/
*>.content>*>li#navigation1{list-style-type: none; background: #825ce5 url('file:///D:/sites/neocities/andymineo/images/navibg1.jpg'); margin-left: -40px; padding: 10px; letter-spacing: 1pt; border-bottom: 0px; margin-bottom: 3px; opacity: 1; transition: 0.4s; color: #fff;}
*>.content>*>li#navigation1 a {color: #528FCE; text-transform: uppercase;  font-weight: bold; letter-spacing: 2pt;}

*>.content>*>li#navigation span, *>.content>*>li#navigation1 span {color: #fff; font-family: arial;}
 
.maintitle {
	background: #ffffff url('x') no-repeat left bottom;
	background-size: 100%;
	margin: 0px;
	padding: 10px;
	font-size: 10pt;
	letter-spacing: 2pt;
	color: #528fce; 
	font-family: trebuchet ms;
	text-transform: uppercase;
	border-bottom: 2px solid #00c6ff; 
} 	 
.content {
		background-color: #ffffff;
		margin-top: 0px;
		padding: 10px;
		font-size: 10pt;
		line-height: 17pt;
		font-family: trebuchet ms;
		color: #777;
		margin-bottom: 10px; 
}
.subtitle:before {content: '(';}
.subtitle:after{content: ')';}
.subtitle {
	padding: 10px;
	background-color: #ffffff; 
	font-size: 9pt;
	text-align: left;
	margin-top: 0px; 
	border-bottom: 0px solid #292929;/*switch with maintitle span*/
	color: #777;
	font-family: trebuchet ms;
	letter-spacing: 1pt;}
.subtitle a {color: #7B60E1; text-decoration:none; transition: 0.4s;}
.subtitle a:hover {color:#52CE64;text-decoration: none; transition: 0.4s;}
.media img {width: 100px; height: 100px; margin: 2px; padding: 4px; transition:0.4s; background: #ffffff url('file:///D:/sites/neocities/andymineo/images/picbg.png') no-repeat right bottom; border: 0px dotted #444;}
.media img:hover { border:0px dotted #444; transition: 0.4s; background-color: #232323; opacity: 1; background: #ffffff url('file:///D:/sites/neocities/andymineo/images/picbghover.png') no-repeat right bottom;}
.media {
	background-color: #eee; /*orig 09*/  
	margin: 0px;
	font-size: 8pt;
	padding: 10px;
	letter-spacing: 1pt;
	text-align: center;
	color: #888;} 
*>.content>.media a {color: #7B60E1; transition: 0.4s;}
.media a:hover{ transition: 0.4s;} 
 
 *>.pagination > li > a, *>.pagination > li > span,*>.pagination#pagination {margin: 0px; background-color: #222; border-radius: 0;}
  *>.pagination#pagination li {background-color: #111; border-radius: 0;}  
 *>.pagination#pagination a {font-family: verdana; font-size: 7pt; color: #777; text-decoration:none; padding: 10px; transition: 0.5s; border:0px solid #222; margin: 4px; border: 1px solid #292929;letter-spacing: 1pt; border-radius: 0;}
 *>.pagination >li>a:hover, *>.pagination >li>span:hover,*>.pagination#pagination a:hover {background-color: #242424;font-family: verdana; font-size: 7pt; color: #ddd; text-decoration: none;padding: 10px; transition: 0.5s; border:1px solid #292929; margin: 4px; border-radius: 0;} 

#hiddenMain {display:none!important}
#hiddenMobile {display:inline-block!important}

b, strong, u{color: #00c6ff;}
i {color: #fdc8fe;}
.content a {color: #97fc57; text-decoration: none; transition: 0.4s;}
.content a:hover, a:hover {color: #61af30; text-decoration: none; transition: 0.4s;}
.footer {padding: 20px; font-family: trebuchet ms; text-align: center; font-size: 9pt; text-transform: uppercase; color: #777; background-color: #171717; box-sizing: border-box; margin-right: 25px; margin-left: 25px; margin-top:5px;}
.footer b, .footer i {color: #518fcf;}.footer em {color: #bf51e6;}
.footer a {color: #97fc57; text-decoration:none;}
.footer a:hover {color: #97fc57; text-decoration: none;}
















/*original 1000, and more recently 1200 and 320*/
@media (max-width: 1200px) and (min-width: 200px) {
.col-xs-0, .col-sm-0, #hiddenMobile {display:none!important}
 #hiddenMain {display:inline-block!important}
 body {padding-top: 60px;}
 
 
.nav > li:hover {
    position: relative;
    display: block; 
	background-color: #523baa;transition: 0.4s; 
}
.nav {font-family: verdana; font-size: 9pt;transition: 0.4s; }
.navbar-default {letter-spacing:normal;}
.nav >li{transition: 0.4s; border-bottom:0px solid #e0e0e0; }
.nav >li>a:link, .nav>li>a:active, .nav>li>a:visited{color: #7B60E1; transition: 0.4s;  box-shadow:none; text-shadow:none;}
.nav > li >a:hover, .nav > li>#select {transition: 0.4s; color: #56d945!important; }



 *>.pagination > li > a, *>.pagination > li > span,*>.pagination#pagination  {background-color: #ffffff;} 
 *>.pagination#pagination a{background-color: #ffffff; border: 0px; border:1px dotted #ffffff; color: #555;} 
  *>.pagination#pagination a:hover {border: 0; background-color: #030303; border:1px dotted #222;} 
 
  ul#divide {background-color: #transparent;}
	ul#divide li:nth-child(4n+1) {padding: 17px; border-bottom: 0px solid #8762e6; color: #999; font-family: arial; letter-spacing: 1pt; font-size: 8pt; list-style-type: none;margin-left: -35px; width: 99.99999999%;}
	/*every other one*/ ul#divide li {padding: 17px; border-bottom: 0px solid #4f3a84; color: #999; font-family: arial; font-size: 8pt; list-style-type: none;margin-left: -35px; width: 99.99999999%; letter-spacing: 1pt;}
	ul#divide li:nth-last-child(1), ul#divide>.bottom:nth-last-child(1){border-bottom: 0px;}
	ul#divide>.bottom { background: #444 url('x') no-repeat left bottom; width: 100%; height: 0px; margin-left: -35px;} 
   
   *>.footer>.content u, *>.footer>.content i, *>.footer>.content b {color: #8d62e7;}
*>.footer>.content {box-shadow:none; background-color:transparent; font-family: trebuchet ms; font-size: 9pt; padding: 0px; margin: 0px;}
*>.footer>.content img {border:0; background-color: transparent; padding: 10px; margin: 2px;}
.footer {padding: 10px; font-family: trebuchet ms; text-align: center; font-size: 8pt; color: #777; background-color: #171717; box-sizing: border-box; margin-right: 0px; margin-left: 0px; text-transform: none; margin-top: 0px; line-height: 14pt;}
.footer a:hover {color: #97fc57; text-decoration: none;}
}
